
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" style="font-color:000000"><h4>Arditio Triadi Riski</h4></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/About/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/StatusHTML/">Status</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " id="change_theme" href="#">Change Theme</a>
          </li>
        </ul>
      </div>
    </nav>

