{% extends 'base.html' %}
{% block content %}

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<div class="container" style="background-color:#95999b">
    <div class="row">
      <div class="col-sm-4">
        <img class="TIO" src="https://s3-alpha.figma.com/img/9518/dfa3/e047e18907dcd5df2e0aa742db1459a1" alt="TIO" style="border-radius:90px;" height="500">
      </div>
      
      <div class="col-sm-8" style="color:white">
        <h4>Name        : Arditio Triadi Riski </h4> <br>
        <h4>Age         : 19  </h4> <br>
        <h4>Hobby       : Table Tennis  </h4> <br>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"><h4>Education</h4></button>
          <div id="demo" class="collapse">
            SD          : Tugu Ibu 1 Depok <br>
            SMP         : SMPN 3 Depok <br>
            SMA         : SMAN 1 Depok <br>
            University  : Fasilkom Universitas Indonesia<br>
          </div>             
          <br>
          <br>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2"><h4>Activity</h4></button>
          <div id="demo2" class="collapse">
            Kuliah.
          </div>             
          <br>                  
          <br>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3"><h4>Achievement</h4></button>
          <div id="demo3" class="collapse">
            -Placed 16th Dota 2 Kuala Lumpur Major group stage <br>
          </div>             
          <br> 
          <br>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4"><h4>Experience</h4></button>
          <div id="demo4" class="collapse">
            -Panitia UI Goes to School <br>
            -PJ PHDD Rohis 1 Depok
          </div>         
          
      </div>
        
      
    </div>
</div>
{% endblock %}