{% extends 'base.html' %}
{% block content %}
    <div class="container" style="background-color:#95999b">
        <div class="jumbotron" style="padding: 10px">
            <title>Arditio Triadi Riski </title>
            <h1 align="middle"> Halo, apa kabar? </h1>
            
            <form action="{% url 'table' %}" method="post">
        </div>    
        
            {% csrf_token %}
            <div align="middle"> {{ form }} </div><br>           
            
            <button id="submit" class="bt1" type="submit" value="submit">Submit</button>
            
        <div class="jumbotron" style="background-color:#6dceff;padding: 10px">
            {% for tio in Table %}

            <p> {{tio.date}}</p>

            <p id="kotak"> {{tio.box}}</p>
            {% endfor %}
            
        </div>

    
    </div>
{% endblock %}