{% extends 'base.html' %}

{% block content %}

<div style="margin-top: 50px">
    <div class="container">
        <h3 id="starCounter"> 0 </h3>
    </div>
    
    <div class="table-book">
        <table class="container table-info" id="table_buku">
            <thead>
                <tr>
                    <th><h3>Cover<h3><th>
                    <th><h3>Title<h3><th>
                    <th><h3>Author<h3><th>
                    <th><h3>Released Date<h3><th>
                    <th><h3>Add Favourites<h3><th>                
                </tr>
            </thead>
        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    var Favourites = [];
    var count = 0;
    function FavClick(obj, id){
        if(obj.name == "enable"){
            Favourites.push(id);
            obj.name = "disable";
            $(obj).css("color","yellow");
        } else {
            var i;
            for (i = 0; i < Favourites.length; i++) { 
                if(Favourites[i] == id)
                {
                    Favourites.splice(i,1);
                    break;
                }
            }
            obj.name = "enable";
            $(obj).css("color","yellow");
        }
        $("#starCounter").text("Star Count: "+Favourites.length);
        console.log(Favourites);
    }
    
    $.ajax({
        url : "/list_buku/", 
        success: function(data){
        var table_data = '<tbody>';
        
        $.each(data.items, function(key, value){
            table_data += '<tr>';
            var thumbnail = value.volumeInfo.imageLinks.thumbnail;
            table_data += '<td><a href="'+thumbnail+'" target="_blank"><img src="'+thumbnail+'"></img></a></td>';
            table_data += '<td id="item-'+count+'">'+value.volumeInfo.title+'</td>';
            table_data += '<td>'+value.volumeInfo.authors[0]+'</td>';
            table_data += '<td>'+value.volumeInfo.publishedDate+'</td>';
            table_data += '<td>'+
                '<button type="button" class="btn btn-warning bmd-btn-fab"'+
                ' onclick="'+"FavClick(this,'"+value.id+"')"+'" name="enable" id="btn-'+count+'">'+
                '<i class="glyphicon glyphicon-star" style="vertical-align:middle;">Favourites</i></button>'+'</td>';
            table_data += '</tr>';
            count++;
        });
        
        $('#table_buku').append(table_data+"</tbody>");    
    }
    });
    
</script>
{% endblock %}